body {
    font-family: Arial;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

nav {
    background-color: #555;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

.news {
    padding: 20px;
}

.news img {
    width: 300px;
    height: auto;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 5px;
}